<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheResult="false"
    stopOnFailure="true"
    stopOnError="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="TELEGRAM_BOT_TOKEN" value="12345678:a1b2c3d4f5g6"/>
        <env name="TELEGRAM_BOT_CHAT" value="-100000000"/>
    </php>
</phpunit>
